{% extends 'base.html.twig' %}

{% block body %}
    Search:
    {{ form(form) }}
    <ul>
    {% for slope in slopes %}
        <li> <a href="{{ slope.detailsUrl }}"> {{ slope.name }} </a> {{ slope.city }} </li>
    {% endfor %}
    </ul>
{% endblock %}